{{ define "title" }}💰📈{{ end }}
{{ define "scripts" }}
  <script type="module">
    import 'annual';
  </script>
{{ end }}
{{ define "body" }}
  <select id="chart-select">
    <option selected value="yearly-net-income-bar-container">Net Income</option>
    <option value="yearly-expense-bar-container">Expenses</option>
    <option value="yearly-income-bar-container">Income</option>
  </select>

  <div id="yearly-net-income-bar-container" class="my-1">
    <script id="yearly-net-counts" type="application/json">
      [{{ range $i, $e := .Data.NetCounts }}{{ if $i }},{{ end }}{"name":"{{ $e.Key }}","value":{{ $e.Net }},"subValue":"{{ $e.SavePercentage }}"}{{ end }}]
    </script>
    <h3>Net Income By Year</h3>
    <div id="yearly-net-income-bar" class="widget"></div>
  </div>

  <div id="yearly-expense-bar-container" class="my-1 hide">
    <script id="yearly-expense-counts" type="application/json">
      [{{ range $i, $e := .Data.ExpenseCountsByYear }}{{ if $i }},{{ end }}{"name":"{{ $e.Key }}","value":{{ $e.Value }}}{{ end }}]
    </script>
    <h3>Expenses By Year</h3>
    <div id="yearly-expense-bar" class="widget"></div>
  </div>

  <div id="yearly-income-bar-container" class="my-1 hide">
    <script id="yearly-income-counts" type="application/json">
      [{{ range $i, $e := .Data.IncomeCountsByYear }}{{ if $i }},{{ end }}{"name":"{{ $e.Key }}","value":{{ $e.Value }}}{{ end }}]
    </script>
    <h3>Income By Year</h3>
    <div id="yearly-income-bar" class="widget"></div>
  </div>
{{ end }}
