{{ define "title" }}💰📈{{ end }}
{{ define "scripts" }}
  <script type="module">
    import 'transaction';
  </script>
{{ end }}
{{ define "body" }}
  <div class="my-1">
    <form method="POST">
      {{ if .Data.Success }}
        <div class="form-success">
          <p>Trade successfully updated!</p>
        </div>
      {{ end }}


      <div class="form-item">
        <label for="name">Name:</label>
        <input name="name" value="{{ .Data.Trade.Name.String }}" />
        {{ if .Data.Errs.name }}
          <p class="form-error">{{ .Data.Errs.name }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="ticker">Ticker:</label>
        <input name="ticker" value="{{ .Data.Trade.Ticker }}" />
        {{ if .Data.Errs.ticker }}
          <p class="form-error">{{ .Data.Errs.ticker }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="purchase_date">Purchase Date:</label>
        <input name="purchase_date" value="{{ .Data.Trade.PurchaseDate }}" />
        {{ if .Data.Errs.purchase_date }}
          <p class="form-error">{{ .Data.Errs.purchase_date }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="shares">Shares:</label>
        <input name="shares" value="{{ .Data.Trade.Shares }}" />
        {{ if .Data.Errs.shares }}
          <p class="form-error">{{ .Data.Errs.shares }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="price">Price:</label>
        <input name="price" value="{{ .Data.Trade.Price }}" />
        {{ if .Data.Errs.price }}
          <p class="form-error">{{ .Data.Errs.price }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="type">Type:</label>
        <input name="type" value="{{ .Data.Trade.Type }}" />
        {{ if .Data.Errs.type }}
          <p class="form-error">{{ .Data.Errs.type }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="account">Account:</label>
        <input name="account" value="{{ .Data.Trade.Account }}" />
        {{ if .Data.Errs.account }}
          <p class="form-error">{{ .Data.Errs.account }}</p>
        {{ end }}
      </div>

      <input
        type="submit"
        value="{{- if ne .Data.Type "create" -}}
          Save
        {{- else -}}
          Create
        {{- end -}}"
      />

      <a href="/trades">cancel</a>
    </form>
  </div>

  {{ if ne .Data.Type "create" }}
    <form method="POST" action="/trades/{{ .Data.Trade.ID }}/delete">
      <input type="submit" value="Delete" />
    </form>
  {{ end }}
{{ end }}
