{{ define "form" }}
  <div class="my-1">
    <form method="POST">
      <div class="form-item">
        <label for="date">Date:</label>
        <input name="date" value="{{ .Data.NetWorthItem.Date }}" type="text" />
        {{ if .Data.Errs.date }}
          <p class="form-error">{{ .Data.Errs.date }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="cash">Cash:</label>
        <input
          name="cash"
          value="{{ .Data.NetWorthItem.Cash }}"
          type="number"
          step="0.01"
        />
        {{ if .Data.Errs.cash }}
          <p class="form-error">{{ .Data.Errs.cash }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="investment">Investment:</label>
        <input
          name="investment"
          value="{{ .Data.NetWorthItem.Investment }}"
          type="number"
          step="0.01"
        />
        {{ if .Data.Errs.investment }}
          <p class="form-error">{{ .Data.Errs.investment }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="debit">Debit:</label>
        <input
          name="debit"
          value="{{ .Data.NetWorthItem.Debit }}"
          type="number"
          step="0.01"
        />
        {{ if .Data.Errs.debit }}
          <p class="form-error">{{ .Data.Errs.debit }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="credit">Credit:</label>
        <input
          name="credit"
          value="{{ .Data.NetWorthItem.Credit }}"
          type="number"
          step="0.01"
        />
        {{ if .Data.Errs.credit }}
          <p class="form-error">{{ .Data.Errs.credit }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="savings">Savings:</label>
        <input
          name="savings"
          value="{{ .Data.NetWorthItem.Savings }}"
          type="number"
          step="0.01"
        />
        {{ if .Data.Errs.savings }}
          <p class="form-error">{{ .Data.Errs.savings }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="retirement">Retirement:</label>
        <input
          name="retirement"
          value="{{ .Data.NetWorthItem.Retirement }}"
          type="number"
          step="0.01"
        />
        {{ if .Data.Errs.retirement }}
          <p class="form-error">{{ .Data.Errs.retirement }}</p>
        {{ end }}
      </div>

      <div class="form-item">
        <label for="loans">Loans:</label>
        <input
          name="loans"
          value="{{ .Data.NetWorthItem.Loans }}"
          type="number"
          step="0.01"
        />
        {{ if .Data.Errs.loans }}
          <p class="form-error">{{ .Data.Errs.loans }}</p>
        {{ end }}
      </div>

      <input
        type="submit"
        value="{{ if ne .Data.Type "create" -}}
          Save
        {{- else -}}
          Create
        {{- end }}"
      />

      <a href="/net-worth">cancel</a>
    </form>
  </div>

  {{ if ne .Data.Type "create" }}
    <form method="POST" action="/net-worth/{{ .Data.NetWorthItem.ID }}/delete">
      <input type="submit" value="Delete" />
    </form>
  {{ end }}
{{ end }}
