{{ define "title" }}💰📈{{end}} {{ define "scripts" }}{{end}} {{define "body"}}
<div>
  <div id="yearly-expense-counts" style="display: none">
    {{ range .Data.expenseCountsByYear }}
    <p>{{.Key}}:{{.Value}}</p>
    {{end}}
  </div>
  <h3>Expenses By Year</h3>
  <div id="yearly-expense-bar" class="widget"></div>
</div>

<div>
  <div id="yearly-income-counts" style="display: none">
    {{ range .Data.incomeCountsByYear }}
    <p>{{.Key}}:{{.Value}}</p>
    {{end}}
  </div>
  <h3>Income By Year</h3>
  <div id="yearly-income-bar" class="widget"></div>
</div>

<div>
  <div id="yearly-net-counts" style="display: none">
    {{ range .Data.netCounts }}
    <p>{{.Key}}:{{.Net}}:{{.SavePercentage}}</p>
    {{end}}
  </div>
  <h3>Net Income By Year</h3>
  <div id="yearly-net-income-bar" class="widget"></div>
</div>
{{end}}
