{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- <script src="https://unpkg.com/htmx.org@1.9.12"></script> -->
    {{ template "scripts" }}
  </head>
  <body>
    <h1 style="text-align: center">💰📈</h1>
    <div style="text-align: center">
      <a href="/">Home</a>
      <a href="/annual">Annual</a>
      <a href="/net-worth">Net Worth</a>
    </div>

    <div class="wrapper">{{ template "body" . }}</div>

    <script src="/static/app.js"></script>
    <script type="module" src="/static/widgets.js"></script>
  </body>
</html>
{{ end }}
